@charset "UTF-8";
main {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
main .imagenprincipal {
  width: 99vw;
  height: 100%;
}
main .cards {
  display: flex;
  justify-content: center;
}
main .cards .card {
  max-height: 100%;
  margin-top: 20px;
  background-color: black;
  margin: 10px;
}
main .containerletras {
  padding: 0;
  height: 200px;
  display: flex;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}
main .scroll {
  white-space: nowrap;
  margin: 0 2em;
}
main .scroll p {
  white-space: nowrap;
  font-size: 80px;
  font-family: San-Francisco-Semibold;
  margin: 0;
}
main .scroll div {
  display: flex;
  gap: 2em;
}
main .scroll p {
  font-size: 5em;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
}
main .RightToLeft {
  margin-bottom: 60px;
  animation: RightToLeft 10s infinite linear;
}
@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-15%);
  }
}
main .LeftToRight {
  animation: LeftToRight 10s infinite linear;
}
@keyframes LeftToRight {
  from {
    transform: translateX(-15%);
  }
  to {
    transform: translateX(0%);
  }
}
main .profile-card-2 {
  max-width: 300px;
  background-color: black;
  border: none;
  outline: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  height: 400px;
}
main .profile-card-2 .profile-botoncarrito {
  background-color: rgb(255, 255, 255);
  border-radius: 30%; /* Para crear un círculo perfecto */
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 5%;
  right: 30px;
  color: #000000;
  transition: all linear 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: San-Francisco-Semibold;
  font-size: 20px;
  line-height: 1; /* Ajusta line-height */
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}
main .profile-card-2 .profile-botoncarrito:hover {
  font-weight: bold;
  align-items: center;
  font-family: San-Francisco-Light;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
main .profile-card-2 img {
  transition: all linear 0.25s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .profile-card-2 .profile-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}
main .profile-card-2 .profile-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  transition: all linear 0.25s;
}
main .profile-card-2 .profile-icons .fa {
  margin: 5px;
}
main .profile-card-2 .profile-username {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  transition: all linear 0.25s;
}
main .profile-card-2:hover img {
  filter: grayscale(100%);
}
main .profile-card-2:hover .profile-name {
  bottom: 80px;
}
main .profile-card-2:hover .profile-username {
  bottom: 60px;
}
main .profile-card-2:hover .profile-icons {
  right: 40px;
}

.segundafoto {
  margin-top: 150px;
}
.segundafoto img {
  width: 50vw;
}

.mosaico {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mosaico .imagenmosaico {
  width: 25vw;
  margin: 10px;
}
.mosaico .imagenmosaico3 {
  width: 51vw;
  margin: 10px;
}

.bqtexto {
  margin-top: 10vh;
  background-color: #1f1f1f;
  border: solid 1px rgb(90, 90, 90);
  border-radius: 50px;
  width: 65vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bqtexto .bloquedetexto {
  width: 100%;
}
.bqtexto p {
  font-size: 70px;
  font-family: San-Francisco-Semibold;
}
.bqtexto p:first-child {
  margin-left: 5%;
}
.bqtexto p:nth-child(2) {
  float: right;
  margin-right: 5%;
}/*# sourceMappingURL=inicio.css.map */