@import url("./cards.css");

main {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  .imagenprincipal {
    width: 99vw;
    height: 100%;
  }

  .cards {
    display: flex;
    justify-content: center;

    .card {
      max-height: 100%;
      margin-top: 20px;
      background-color: black;
      margin: 10px;
    }
  }

  // ----------LETRAS HORIZONTALES-----------
  .containerletras {
    padding: 0;
    height: 200px;
    display: flex;
    align-items: center;
    width: 100vw;
    overflow: hidden;
  }

  .scroll {
    white-space: nowrap;
    margin: 0 2em;
    p {
      white-space: nowrap;
      font-size: 80px;
      font-family: San-Francisco-Semibold;
      margin: 0;
    }
  }

  .scroll div {
    display: flex;
    gap: 2em;
  }

  .scroll p {
    font-size: 5em;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
  }

  .RightToLeft {
    margin-bottom: 60px;
    animation: RightToLeft 10s infinite linear;
  }

  @keyframes RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-15%);
    }
  }

  .LeftToRight {
    animation: LeftToRight 10s infinite linear;
  }

  @keyframes LeftToRight {
    from {
      transform: translateX(-15%);
    }
    to {
      transform: translateX(0%);
    }
  }
  // ----------CARD-----------

  //Capa para darle opacidad a la imagen
  .containerProductos {
    margin: 10em 0 10em;
    height: 400px;
  }

  ////////////////////////////////////////////////////////
  .segundafoto {
    margin-top: 150px;

    img {
      width: 50vw;
    }
  }

  .mosaico {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .imagenmosaico {
      width: 25vw;
      margin: 10px;
    }

    .imagenmosaico3 {
      width: 51vw;
      margin: 10px;
    }
  }

  .bqtexto {
    margin-top: 10vh;
    background-color: #1f1f1f;
    border: solid 1px rgb(90, 90, 90);
    border-radius: 50px;
    width: 65vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .bloquedetexto {
      width: 100%;
    }
    p {
      font-size: 70px;
      font-family: San-Francisco-Semibold;
    }

    p:first-child {
      margin-left: 5%;
    }

    p:nth-child(2) {
      float: right;
      margin-right: 5%;
    }
  }
}

.fotoinicio {
  position: relative;
}

.hit-the-floor {
  font-size: 14em;
  letter-spacing: 0.1em;
  font-family: "San-Francisco-Semibold";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.448), 0 0 5px rgba(0, 0, 0, 0.453), 0 1px 3px rgba(0, 0, 0, 0.607), 0 3px 5px rgba(0, 0, 0, 0.508), 0 5px 10px rgba(0, 0, 0, 0.607), 0 10px 10px rgba(0, 0, 0, 0.486), 0 20px 20px rgba(0, 0, 0, 0.574);
  }
  




  //////

  