section{
    padding: 10em 0 0 0;
}

.mainTitle{
    font-size: 5em;
    letter-spacing: 0.2em;
    font-family: 'San-Francisco-Semibold';
}

#multipasos-form{
    width: 25em;
}

.lineaDivisora{
    margin-top: 3em;
}

.step {
    display: none;
  }
  .step.active {
    display: block;
  }


